<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book App</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
</head>
<body>
    <div class="search-bar-container">
        <form onsubmit="searchBooks(event)">
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" id="bookSearch" placeholder="Search for books...">
            </div>
        </form>
    </div>

    <div id="Results"></div>


    <script>
        async function searchBooks(event) {
            event.preventDefault();
            // Trims any extra information off the input
            const query = document.getElementById('bookSearch').value.trim(); 
            console.log(query)
            // This div displays the search results
            resultsDiv = document.getElementById('Results');

            if (query.length === 0) { 
                resultsDiv.innerHTML = '<p>Please enter a search term</p>';
                return;
            }
            
            const encodedSearch = encodeURIComponent(query);
            console.log(encodedSearch)
            const response = await fetch(`/api/search?q=${encodedSearch}`);

            // Handles bad responses from the API call, repsonse.ok returns ranges (200-299)
            if (!response.ok) {
                resultsDiv.innerHTML = '<p>Error fetching results</p>';
                return;
            }

            // Books now holds our json response
            const books = await response.json();

            // If no books are returned from the API search
            if (books.length === 0) {
                resultsDiv.innerHTML = '<p>No books found.</p>';
                return;
            }

            // Display the book results as text
            let result_html = '<ul style="list-style-type: none; padding-left: 0;">';

            // Add each book returned as part of the unordered list (ul)
            books.forEach(book => {
                result_html += `
                <li>
                    ${book.title} by ${book.author}<br>
                    <img src="${book.bookcover_url}" alt="Cover of ${book.title}" style="display: block; width:1 00px; height: auto; margin: 10px auto;">
                </li>
                `;
            });
            result_html += '</ul>';

            resultsDiv.innerHTML = result_html;
        }

    </script>
</body>
</html>